/*.celeb-shopper-list .celeb-profile-img-box {*/
/*  position: relative;*/
/*  display: block;*/
/*  max-width: 50px;*/
/*  max-height: 50px;*/
/*  background-color: #fafafa;*/
/*  border-radius: 50%;*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*  -webkit-box-flex: 0;*/
/*  -webkit-flex: 0 0 auto;*/
/*  -ms-flex: 0 0 auto;*/
/*  flex: 0 0 auto;*/
/*  overflow: hidden;*/
/*}*/

HTML CSS JSResult
EDIT ON
* {
    outline: 0;
    font-family: sans-serif
}
body {
    background-color: #fafafa
}
span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}
#wrap .container {
    width: 100%;
    margin: 50px auto 0;
    text-align: center
}

/*Styling Selectbox*/
.dropdown {
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
    margin-top: 50px;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.select-celeb-active {
    text-align: center;
    margin: 0 auto;
}
.select-celeb-active img {
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    margin-top: 0;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-bottom: 2px solid #d4d4d4;
}
.dropdown .dropdown-menu li:first-child {
    border-top: 2px solid #d4d4d4;
}
.dropdown .dropdown-menu li:hover {
    background-color: #d4d4d4;
}

.dropdown-menu li.active {
    display: none;
}
.dropdown-menu li .celeb-select-box {
    display: flex;
    padding-left: 10px;
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
.celeb-profile-img-box img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-touch-callout: none;
}

.celeb-select-box .celeb-info .celeb-mood {
    font-size: 11px;
}
